.App {
  min-height: 100vh;
  text-align: center;
  background-color: white;
  height: 100%;
  width: 100%;
}

.form-fields{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.App-link {
  color: #09d3ac;
}

.stateChars{
  width: 2em;
}

.fontColor{
  color: white;
}