.addressInfo{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 500px;
    margin: 0 auto;
}
.mailing{
    background-color: rgb(54, 1, 1);
    border: 1px solid rgb(0, 0, 0);
    margin: 5px auto;
    width: 400px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 1px 1px 1px #000000;
}

.editButton{
    border-radius: 10px;
    padding: 8px;
    white-space: nowrap;
    display:inline;
    font-size: 14px;
    background-color: #bfccda;
    border-color: #062f61;
    color: #4b4f56;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

.button{
    border-radius: 10px;
    padding: 8px;
    white-space: nowrap;
    display:inline;
    font-size: 14px;
    background-color: #bfccda;
    border-color: #062f61;
    color: #4b4f56;
    transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}